.imgWrapper{
    width: 50% !important;
}

.info{
    width: 50%;
}

.video_wrapper{
    max-width: 90rem !important;
    height: auto;
    position: relative;
}

.video_wrapper .video{
    position: relative;
    z-index: 99;
    background: #000;
    border-radius: 1rem;
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
}

.video_wrapper .backward{
    width: 90rem;
    height: 83% !IMPORTANT;
    background: #C80C0F;
    position: absolute !important;
    right: 1rem;
    bottom: 1rem;
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .info{
        width: 100%;
    }
    .imgWrapper{
        width: 100% !important;
    }
}