.wrapper{
    display: flex;
    align-items: center;
    justify-content: center !important;
}

.box .bg{
    position: absolute;
    height: 300px;
    width: 100%;
    background: url(../../public/assets/images/trailer-contact-bg.jpg) no-repeat;
    background-size: cover;
}

.imgWrapper{
    padding: 0 !important;
}

.imgWrapper span{
    border-radius: 0 !important;
}

.imgWrapper span img{
    border-radius: 0 !important;
}

.contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    position: relative;
    width: 26rem;
    left: 14rem;
    top: -3rem;
    height: 400px;
    background: url(../../public/assets/images/earth-bg.png) no-repeat, #000066;
    border-radius: 1rem;
    overflow: hidden;
}

.contactInfo .tel_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contactInfo p{
    color: #fff;
    direction: rtl;
    text-align: center;
}

.contactInfo desc{
    text-align: center;
}

.contactInfo h2{
    color: #fff;
}

.btn{
    color: #fff !important;
    background: #c91014;
    border-radius: 8px;
    padding: .5rem 1.5rem;
}

@media (max-width: 768px) {
    .contactInfo .tel_wrapper{
        flex-direction: column;
    }
    .contactInfo .tel_wrapper > a{
        margin-bottom: 1rem;
    }
    .box .bg{
        height: 200px;
        background-position: center right;
    }
    .contactInfo{
        padding: 1rem 2rem;
        width: 16rem;
        left: 0;
        right: 0;
        top: -3rem;
        height: 300px;
        margin: 0 auto;
    }
}