.header{
    position: relative;
    padding: 6rem 0;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    display: block;
}

.header h1{
    position: relative;
    z-index: 3;
    text-align: center;
    color: #fff;
}