.intro{
    display: flex;
    justify-content: center;
    max-width: 90rem;
    margin: 3rem auto;
    padding: 2rem;
}

.intro h2{
    font-weight: 700;
    border-bottom: 2px solid #000;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    width: fit-content;
    font-size: 1.3rem;
}

.intro .link{
    margin: 0.5rem 1rem 0;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
}

.intro .link:hover{
    padding: 15px 15px;
}

.intro > div{
    width: 50%;
    padding: 0 1rem;
}

.intro > div p{
    text-align: justify;
}

@media (max-width: 768px){
    .intro{
        flex-direction: column;
    }
    .intro > div{
        width: 100% !important;
        margin: 1rem 0;
    }
}